{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block extra_css %}
<style>
    .reset-password-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 200px);
    }
    .reset-password-card {
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 20px;
    }
    .reset-password-header {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
    .form-label {
        font-weight: bold;
        color: #333;
    }
    .form-control {
        border-radius: 5px;
        border: 1px solid #ced4da;
        padding: 10px;
    }
    .btn-primary {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: #fff;
    }
    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="reset-password-container">
    <div class="reset-password-card">
        <div class="reset-password-header">Ripristina la Password</div>
        <div class="card-body">
            <form method="post" action="/cambia_password">
                <div class="mb-3">
                    <label for="vecchia" class="form-label">Password attuale</label>
                    <input id="vecchia" type="password" class="form-control" name="vecchia" required>
                </div>
                <div class="mb-3">
                    <label for="nuova" class="form-label">Password Nuova</label>
                    <input id="nuova" type="password" class="form-control" name="nuova" required>
                </div>
                <div class="mb-0">
                    <input type="submit" class="btn btn-primary" value="Cambia">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
