<!DOCTYPE html>
<html>
    <head>
        <title>Corsi</title>
        <style>
            @page {
                size: landscape;
            }
            table {
                width: 90%;
                border-collapse: collapse;
            }
            th, td{ 
                border: 1px solid black;
                text-align: center;
                height: 50px;
            }
            h1{
                padding-top: 20px;
                text-align: center;
                font-size: 2.5rem;
            }  
        </style>   
    </head>
    <body>
        <h1>I corsi attualmente attivi sono i seguenti</h1>
        <br><hr><br>
        <table>
            <thead>
                <tr>
                    <th>Nome</th><th>Docente</th><th>Giorno</th><th>Partenza</th><th>Prezzo + Tessera</th><th>Iscritti</th>
                </tr>
            </thead>
            <tbody>
                {% for corso in corsi %}
                    <tr>
                        <td>{{ corso.nome }}</td><td>{{ corso.docente }}</td><td>{{ corso.giorno }}</td>
                        <td>{{ corso.partenza.strftime('%d-%m-%Y') if corso.partenza else 'N/A' }}</td>   
                        <td>{{ corso.contributo }}€ + {{ corso.tessera }}€</td>
                        <td>da {{ corso.minimo }} a {{ corso.massimo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>